@import 'base/normalize';
@import 'base/globals';
@import 'base/mixins';
@import 'base/typography';
@import 'styles/page-price';

.wp-editor {
    background: $white;
    margin: 10px;
}

.phone-number {
    font-size: 1.2em;
}
