.telespor-footer {
	background: $white;
    border-top: 1px solid $grey-border;
}

.footer-wrap {
	@extend %clearfix;
    margin: 0 auto;
	max-width: $site-width;
	padding: 30px 15px;

    .footer-nav,
    .footer-contact,
    .copyright {

        h2 {
			color: $primary-color;
			font-size: 1em;
			margin: 0 0 10px;
            padding: 0;
        }

    }

    .footer-nav {
		color: $text-p-grey;
		float: left;
        font-size: 0.85em;
        margin: 0 150px 0 0;

        ul {
			list-style: none;
            margin: 0;
            padding: 0;

            a {
				color: $text-p-grey;
				display: block;
                font-weight: 300;
                margin: 0 0 5px;
                text-decoration: none;

                &:hover {
                    color: $dark-black;
                    text-decoration: underline;
                }

            }

        }

    }

    .footer-contact {
		color: $text-p-grey;
		float: left;
        font-size: 0.85em;
        font-weight: 300;

        p {
            margin: 0 0 5px;
        }

    }

}

.copyright {
	background: $white;
	border-top: 1px solid $grey-border;
	color: $lightgrey-text;
    font-size: 0.85em;
    font-weight: 300;
    margin: 0;
    padding: 15px;
    text-align: center;
}

@media (max-width: 600px) {

    .footer-wrap {

        .footer-nav {
            margin: 0 0 40px;
        }

    }

}
